@import "../common/vars.css";

.content {
  padding: 20px;
}
.image {}
.text {
  color: #888;
  font-size: 1.25em;
}
.prompt {
  border-bottom: 1px solid black;
  margin-bottom: 16px;
}
.prompt {}
.choices {}
.choice {
  display: block;
}
.choiceButton {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 1em;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  background: var(--colorsPrimary);
  border-radius: 2px;
  color: var(--colorsContrast);
  border: 0;
  text-decoration: none;
}
.choiceButton:hover,
.choiceButton:active,
.choiceButton:focus {
  background: var(--colorsPrimary2);
  color: var(--colorsAccent1);
}